* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}
.container {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 15px;
}
h1 {
color: #000;
}
#board {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
}
.square {
    width: 100px;
    height: 100px;
    background-color: orangered;
    border-radius: 9px;
    margin: 4px;
    font-size: 72px;
    text-align: center;
    cursor: pointer;
    color: black;
}
.square:hover {
    background-color: #c91483;
}
#message {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    color: #eb0688da;
}
#reset {
    display: block;
    margin: 20px auto 0;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    background-color: #ed007e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}